In [3]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [5]:
movies=pd.read_csv("tmdb_5000_movies.csv")
credit=pd.read_csv("tmdb_5000_credits.csv")

In [6]:
movies.head()

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [7]:
credit.head()

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [8]:
movies.isnull().sum()

budget                     0
genres                     0
homepage                3091
id                         0
keywords                   0
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
dtype: int64

In [9]:
credit.isnull().sum()

movie_id    0
title       0
cast        0
crew        0
dtype: int64

In [11]:
#MERGING MOVIE AND CREDIT TOGETHER ON THE BASIS OF TITLE

In [16]:
movies=movies.merge(credit,on='title')

In [19]:
#REMOVING WASTE COLUMNS THAT WE ARE NOT USING FOR THE RECOMMENDATION SYSTEM AND KEEPING ONLY USED COLUMNS

In [21]:
movies=movies[["movie_id","title","overview","genres","keywords","cast","crew"]]

In [23]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4809 non-null   int64
 1   title     4809 non-null   object
 2   overview  4806 non-null   object
 3   genres    4809 non-null   object
 4   keywords  4809 non-null   object
 5   cast      4809 non-null   object
 6   crew      4809 non-null   object
dtypes: int64(1), object(6)
memory usage: 263.1+ KB

In [25]:
movies.isnull().sum()

movie_id    0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [27]:
#DROPPING NULL VALUES FROM DATASET
movies.dropna(inplace=True)

In [29]:
movies.duplicated().sum()

0

In [30]:
movies.isnull().sum()

movie_id    0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [31]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [35]:
#CONVERTING LIST DICTIONARY INTO SIMPLE LIST #GENRES #KEYWORDS AND #CAST

In [37]:
import ast
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i["name"])
        return L

In [39]:
movies['genres']=movies['genres'].apply(convert)

In [40]:
movies["genres"]

0            [Action]
1         [Adventure]
2            [Action]
3            [Action]
4            [Action]
            ...
4804         [Action]
4805         [Comedy]
4806         [Comedy]
4807             None
4808    [Documentary]
Name: genres, Length: 4806, dtype: object

In [41]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [42]:
movies['keywords']=movies['keywords'].apply(convert)

In [46]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],[culture clash],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],[ocean],"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],[spy],"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],[dc comics],"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],[based on novel],"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [47]:
movies["keywords"]

0                      [culture clash]
1                              [ocean]
2                                [spy]
3                          [dc comics]
4                     [based on novel]
                     ...
4804    [united states–mexico barrier]
4805                              None
4806                            [date]
4807                              None
4808                       [obsession]
Name: keywords, Length: 4806, dtype: object

In [51]:
import ast
def conv(obj):
    L=[]
    count=0
    for i in ast.literal_eval(obj):
        if count!=3:
            L.append(i["name"])
            count=count+1
        else:
            break
    return L

In [53]:
movies["cast"]=movies["cast"].apply(conv)

In [54]:
movies["cast"]

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [55]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley]","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],[spy],"[Daniel Craig, Christoph Waltz, Léa Seydoux]","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],[dc comics],"[Christian Bale, Michael Caine, Gary Oldman]","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],[based on novel],"[Taylor Kitsch, Lynn Collins, Samantha Morton]","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [56]:
movies["crew"][0]

'[{"credit_id": "52fe48009251416c750aca23", "department": "Editing", "gender": 0, "id": 1721, "job": "Editor", "name": "Stephen E. Rivkin"}, {"credit_id": "539c47ecc3a36810e3001f87", "department": "Art", "gender": 2, "id": 496, "job": "Production Design", "name": "Rick Carter"}, {"credit_id": "54491c89c3a3680fb4001cf7", "department": "Sound", "gender": 0, "id": 900, "job": "Sound Designer", "name": "Christopher Boyes"}, {"credit_id": "54491cb70e0a267480001bd0", "department": "Sound", "gender": 0, "id": 900, "job": "Supervising Sound Editor", "name": "Christopher Boyes"}, {"credit_id": "539c4a4cc3a36810c9002101", "department": "Production", "gender": 1, "id": 1262, "job": "Casting", "name": "Mali Finn"}, {"credit_id": "5544ee3b925141499f0008fc", "department": "Sound", "gender": 2, "id": 1729, "job": "Original Music Composer", "name": "James Horner"}, {"credit_id": "52fe48009251416c750ac9c3", "department": "Directing", "gender": 2, "id": 2710, "job": "Director", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750ac9d9", "department": "Writing", "gender": 2, "id": 2710, "job": "Writer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca17", "department": "Editing", "gender": 2, "id": 2710, "job": "Editor", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca29", "department": "Production", "gender": 2, "id": 2710, "job": "Producer", "name": "James Cameron"}, {"credit_id": "52fe48009251416c750aca3f", "department": "Writing", "gender": 2, "id": 2710, "job": "Screenplay", "name": "James Cameron"}, {"credit_id": "539c4987c3a36810ba0021a4", "department": "Art", "gender": 2, "id": 7236, "job": "Art Direction", "name": "Andrew Menzies"}, {"credit_id": "549598c3c3a3686ae9004383", "department": "Visual Effects", "gender": 0, "id": 6690, "job": "Visual Effects Producer", "name": "Jill Brooks"}, {"credit_id": "52fe48009251416c750aca4b", "department": "Production", "gender": 1, "id": 6347, "job": "Casting", "name": "Margery Simkin"}, {"credit_id": "570b6f419251417da70032fe", "department": "Art", "gender": 2, "id": 6878, "job": "Supervising Art Director", "name": "Kevin Ishioka"}, {"credit_id": "5495a0fac3a3686ae9004468", "department": "Sound", "gender": 0, "id": 6883, "job": "Music Editor", "name": "Dick Bernstein"}, {"credit_id": "54959706c3a3686af3003e81", "department": "Sound", "gender": 0, "id": 8159, "job": "Sound Effects Editor", "name": "Shannon Mills"}, {"credit_id": "54491d58c3a3680fb1001ccb", "department": "Sound", "gender": 0, "id": 8160, "job": "Foley", "name": "Dennie Thorpe"}, {"credit_id": "54491d6cc3a3680fa5001b2c", "department": "Sound", "gender": 0, "id": 8163, "job": "Foley", "name": "Jana Vance"}, {"credit_id": "52fe48009251416c750aca57", "department": "Costume & Make-Up", "gender": 1, "id": 8527, "job": "Costume Design", "name": "Deborah Lynn Scott"}, {"credit_id": "52fe48009251416c750aca2f", "department": "Production", "gender": 2, "id": 8529, "job": "Producer", "name": "Jon Landau"}, {"credit_id": "539c4937c3a36810ba002194", "department": "Art", "gender": 0, "id": 9618, "job": "Art Direction", "name": "Sean Haworth"}, {"credit_id": "539c49b6c3a36810c10020e6", "department": "Art", "gender": 1, "id": 12653, "job": "Set Decoration", "name": "Kim Sinclair"}, {"credit_id": "570b6f2f9251413a0e00020d", "department": "Art", "gender": 1, "id": 12653, "job": "Supervising Art Director", "name": "Kim Sinclair"}, {"credit_id": "54491a6c0e0a26748c001b19", "department": "Art", "gender": 2, "id": 14350, "job": "Set Designer", "name": "Richard F. Mays"}, {"credit_id": "56928cf4c3a3684cff0025c4", "department": "Production", "gender": 1, "id": 20294, "job": "Executive Producer", "name": "Laeta Kalogridis"}, {"credit_id": "52fe48009251416c750aca51", "department": "Costume & Make-Up", "gender": 0, "id": 17675, "job": "Costume Design", "name": "Mayes C. Rubeo"}, {"credit_id": "52fe48009251416c750aca11", "department": "Camera", "gender": 2, "id": 18265, "job": "Director of Photography", "name": "Mauro Fiore"}, {"credit_id": "5449194d0e0a26748f001b39", "department": "Art", "gender": 0, "id": 42281, "job": "Set Designer", "name": "Scott Herbertson"}, {"credit_id": "52fe48009251416c750aca05", "department": "Crew", "gender": 0, "id": 42288, "job": "Stunts", "name": "Woody Schultz"}, {"credit_id": "5592aefb92514152de0010f5", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Makeup Artist", "name": "Linda DeVetta"}, {"credit_id": "5592afa492514152de00112c", "department": "Costume & Make-Up", "gender": 0, "id": 29067, "job": "Hairstylist", "name": "Linda DeVetta"}, {"credit_id": "54959ed592514130fc002e5d", "department": "Camera", "gender": 2, "id": 33302, "job": "Camera Operator", "name": "Richard Bluck"}, {"credit_id": "539c4891c3a36810ba002147", "department": "Art", "gender": 2, "id": 33303, "job": "Art Direction", "name": "Simon Bright"}, {"credit_id": "54959c069251417a81001f3a", "department": "Visual Effects", "gender": 0, "id": 113145, "job": "Visual Effects Supervisor", "name": "Richard Martin"}, {"credit_id": "54959a0dc3a3680ff5002c8d", "department": "Crew", "gender": 2, "id": 58188, "job": "Visual Effects Editor", "name": "Steve R. Moore"}, {"credit_id": "52fe48009251416c750aca1d", "department": "Editing", "gender": 2, "id": 58871, "job": "Editor", "name": "John Refoua"}, {"credit_id": "54491a4dc3a3680fc30018ca", "department": "Art", "gender": 0, "id": 92359, "job": "Set Designer", "name": "Karl J. Martin"}, {"credit_id": "52fe48009251416c750aca35", "department": "Camera", "gender": 1, "id": 72201, "job": "Director of Photography", "name": "Chiling Lin"}, {"credit_id": "52fe48009251416c750ac9ff", "department": "Crew", "gender": 0, "id": 89714, "job": "Stunts", "name": "Ilram Choi"}, {"credit_id": "54959c529251416e2b004394", "department": "Visual Effects", "gender": 2, "id": 93214, "job": "Visual Effects Supervisor", "name": "Steven Quale"}, {"credit_id": "54491edf0e0a267489001c37", "department": "Crew", "gender": 1, "id": 122607, "job": "Dialect Coach", "name": "Carla Meyer"}, {"credit_id": "539c485bc3a368653d001a3a", "department": "Art", "gender": 2, "id": 132585, "job": "Art Direction", "name": "Nick Bassett"}, {"credit_id": "539c4903c3a368653d001a74", "department": "Art", "gender": 0, "id": 132596, "job": "Art Direction", "name": "Jill Cormack"}, {"credit_id": "539c4967c3a368653d001a94", "department": "Art", "gender": 0, "id": 132604, "job": "Art Direction", "name": "Andy McLaren"}, {"credit_id": "52fe48009251416c750aca45", "department": "Crew", "gender": 0, "id": 236696, "job": "Motion Capture Artist", "name": "Terry Notary"}, {"credit_id": "54959e02c3a3680fc60027d2", "department": "Crew", "gender": 2, "id": 956198, "job": "Stunt Coordinator", "name": "Garrett Warren"}, {"credit_id": "54959ca3c3a3686ae300438c", "department": "Visual Effects", "gender": 2, "id": 957874, "job": "Visual Effects Supervisor", "name": "Jonathan Rothbart"}, {"credit_id": "570b6f519251412c74001b2f", "department": "Art", "gender": 0, "id": 957889, "job": "Supervising Art Director", "name": "Stefan Dechant"}, {"credit_id": "570b6f62c3a3680b77007460", "department": "Art", "gender": 2, "id": 959555, "job": "Supervising Art Director", "name": "Todd Cherniawsky"}, {"credit_id": "539c4a3ac3a36810da0021cc", "department": "Production", "gender": 0, "id": 1016177, "job": "Casting", "name": "Miranda Rivers"}, {"credit_id": "539c482cc3a36810c1002062", "department": "Art", "gender": 0, "id": 1032536, "job": "Production Design", "name": "Robert Stromberg"}, {"credit_id": "539c4b65c3a36810c9002125", "department": "Costume & Make-Up", "gender": 2, "id": 1071680, "job": "Costume Design", "name": "John Harding"}, {"credit_id": "54959e6692514130fc002e4e", "department": "Camera", "gender": 0, "id": 1177364, "job": "Steadicam Operator", "name": "Roberto De Angelis"}, {"credit_id": "539c49f1c3a368653d001aac", "department": "Costume & Make-Up", "gender": 2, "id": 1202850, "job": "Makeup Department Head", "name": "Mike Smithson"}, {"credit_id": "5495999ec3a3686ae100460c", "department": "Visual Effects", "gender": 0, "id": 1204668, "job": "Visual Effects Producer", "name": "Alain Lalanne"}, {"credit_id": "54959cdfc3a3681153002729", "department": "Visual Effects", "gender": 0, "id": 1206410, "job": "Visual Effects Supervisor", "name": "Lucas Salton"}, {"credit_id": "549596239251417a81001eae", "department": "Crew", "gender": 0, "id": 1234266, "job": "Post Production Supervisor", "name": "Janace Tashjian"}, {"credit_id": "54959c859251416e1e003efe", "department": "Visual Effects", "gender": 0, "id": 1271932, "job": "Visual Effects Supervisor", "name": "Stephen Rosenbaum"}, {"credit_id": "5592af28c3a368775a00105f", "department": "Costume & Make-Up", "gender": 0, "id": 1310064, "job": "Makeup Artist", "name": "Frankie Karena"}, {"credit_id": "539c4adfc3a36810e300203b", "department": "Costume & Make-Up", "gender": 1, "id": 1319844, "job": "Costume Supervisor", "name": "Lisa Lovaas"}, {"credit_id": "54959b579251416e2b004371", "department": "Visual Effects", "gender": 0, "id": 1327028, "job": "Visual Effects Supervisor", "name": "Jonathan Fawkner"}, {"credit_id": "539c48a7c3a36810b5001fa7", "department": "Art", "gender": 0, "id": 1330561, "job": "Art Direction", "name": "Robert Bavin"}, {"credit_id": "539c4a71c3a36810da0021e0", "department": "Costume & Make-Up", "gender": 0, "id": 1330567, "job": "Costume Supervisor", "name": "Anthony Almaraz"}, {"credit_id": "539c4a8ac3a36810ba0021e4", "department": "Costume & Make-Up", "gender": 0, "id": 1330570, "job": "Costume Supervisor", "name": "Carolyn M. Fenton"}, {"credit_id": "539c4ab6c3a36810da0021f0", "department": "Costume & Make-Up", "gender": 0, "id": 1330574, "job": "Costume Supervisor", "name": "Beth Koenigsberg"}, {"credit_id": "54491ab70e0a267480001ba2", "department": "Art", "gender": 0, "id": 1336191, "job": "Set Designer", "name": "Sam Page"}, {"credit_id": "544919d9c3a3680fc30018bd", "department": "Art", "gender": 0, "id": 1339441, "job": "Set Designer", "name": "Tex Kadonaga"}, {"credit_id": "54491cf50e0a267483001b0c", "department": "Editing", "gender": 0, "id": 1352422, "job": "Dialogue Editor", "name": "Kim Foscato"}, {"credit_id": "544919f40e0a26748c001b09", "department": "Art", "gender": 0, "id": 1352962, "job": "Set Designer", "name": "Tammy S. Lee"}, {"credit_id": "5495a115c3a3680ff5002d71", "department": "Crew", "gender": 0, "id": 1357070, "job": "Transportation Coordinator", "name": "Denny Caira"}, {"credit_id": "5495a12f92514130fc002e94", "department": "Crew", "gender": 0, "id": 1357071, "job": "Transportation Coordinator", "name": "James Waitkus"}, {"credit_id": "5495976fc3a36811530026b0", "department": "Sound", "gender": 0, "id": 1360103, "job": "Supervising Sound Editor", "name": "Addison Teague"}, {"credit_id": "54491837c3a3680fb1001c5a", "department": "Art", "gender": 2, "id": 1376887, "job": "Set Designer", "name": "C. Scott Baker"}, {"credit_id": "54491878c3a3680fb4001c9d", "department": "Art", "gender": 0, "id": 1376888, "job": "Set Designer", "name": "Luke Caska"}, {"credit_id": "544918dac3a3680fa5001ae0", "department": "Art", "gender": 0, "id": 1376889, "job": "Set Designer", "name": "David Chow"}, {"credit_id": "544919110e0a267486001b68", "department": "Art", "gender": 0, "id": 1376890, "job": "Set Designer", "name": "Jonathan Dyer"}, {"credit_id": "54491967c3a3680faa001b5e", "department": "Art", "gender": 0, "id": 1376891, "job": "Set Designer", "name": "Joseph Hiura"}, {"credit_id": "54491997c3a3680fb1001c8a", "department": "Art", "gender": 0, "id": 1376892, "job": "Art Department Coordinator", "name": "Rebecca Jellie"}, {"credit_id": "544919ba0e0a26748f001b42", "department": "Art", "gender": 0, "id": 1376893, "job": "Set Designer", "name": "Robert Andrew Johnson"}, {"credit_id": "54491b1dc3a3680faa001b8c", "department": "Art", "gender": 0, "id": 1376895, "job": "Assistant Art Director", "name": "Mike Stassi"}, {"credit_id": "54491b79c3a3680fbb001826", "department": "Art", "gender": 0, "id": 1376897, "job": "Construction Coordinator", "name": "John Villarino"}, {"credit_id": "54491baec3a3680fb4001ce6", "department": "Art", "gender": 2, "id": 1376898, "job": "Assistant Art Director", "name": "Jeffrey Wisniewski"}, {"credit_id": "54491d2fc3a3680fb4001d07", "department": "Editing", "gender": 0, "id": 1376899, "job": "Dialogue Editor", "name": "Cheryl Nardi"}, {"credit_id": "54491d86c3a3680fa5001b2f", "department": "Editing", "gender": 0, "id": 1376901, "job": "Dialogue Editor", "name": "Marshall Winn"}, {"credit_id": "54491d9dc3a3680faa001bb0", "department": "Sound", "gender": 0, "id": 1376902, "job": "Supervising Sound Editor", "name": "Gwendolyn Yates Whittle"}, {"credit_id": "54491dc10e0a267486001bce", "department": "Sound", "gender": 0, "id": 1376903, "job": "Sound Re-Recording Mixer", "name": "William Stein"}, {"credit_id": "54491f500e0a26747c001c07", "department": "Crew", "gender": 0, "id": 1376909, "job": "Choreographer", "name": "Lula Washington"}, {"credit_id": "549599239251412c4e002a2e", "department": "Visual Effects", "gender": 0, "id": 1391692, "job": "Visual Effects Producer", "name": "Chris Del Conte"}, {"credit_id": "54959d54c3a36831b8001d9a", "department": "Visual Effects", "gender": 2, "id": 1391695, "job": "Visual Effects Supervisor", "name": "R. Christopher White"}, {"credit_id": "54959bdf9251412c4e002a66", "department": "Visual Effects", "gender": 0, "id": 1394070, "job": "Visual Effects Supervisor", "name": "Dan Lemmon"}, {"credit_id": "5495971d92514132ed002922", "department": "Sound", "gender": 0, "id": 1394129, "job": "Sound Effects Editor", "name": "Tim Nielsen"}, {"credit_id": "5592b25792514152cc0011aa", "department": "Crew", "gender": 0, "id": 1394286, "job": "CG Supervisor", "name": "Michael Mulholland"}, {"credit_id": "54959a329251416e2b004355", "department": "Crew", "gender": 0, "id": 1394750, "job": "Visual Effects Editor", "name": "Thomas Nittmann"}, {"credit_id": "54959d6dc3a3686ae9004401", "department": "Visual Effects", "gender": 0, "id": 1394755, "job": "Visual Effects Supervisor", "name": "Edson Williams"}, {"credit_id": "5495a08fc3a3686ae300441c", "department": "Editing", "gender": 0, "id": 1394953, "job": "Digital Intermediate", "name": "Christine Carr"}, {"credit_id": "55402d659251413d6d000249", "department": "Visual Effects", "gender": 0, "id": 1395269, "job": "Visual Effects Supervisor", "name": "John Bruno"}, {"credit_id": "54959e7b9251416e1e003f3e", "department": "Camera", "gender": 0, "id": 1398970, "job": "Steadicam Operator", "name": "David Emmerichs"}, {"credit_id": "54959734c3a3686ae10045e0", "department": "Sound", "gender": 0, "id": 1400906, "job": "Sound Effects Editor", "name": "Christopher Scarabosio"}, {"credit_id": "549595dd92514130fc002d79", "department": "Production", "gender": 0, "id": 1401784, "job": "Production Supervisor", "name": "Jennifer Teves"}, {"credit_id": "549596009251413af70028cc", "department": "Production", "gender": 0, "id": 1401785, "job": "Production Manager", "name": "Brigitte Yorke"}, {"credit_id": "549596e892514130fc002d99", "department": "Sound", "gender": 0, "id": 1401786, "job": "Sound Effects Editor", "name": "Ken Fischer"}, {"credit_id": "549598229251412c4e002a1c", "department": "Crew", "gender": 0, "id": 1401787, "job": "Special Effects Coordinator", "name": "Iain Hutton"}, {"credit_id": "549598349251416e2b00432b", "department": "Crew", "gender": 0, "id": 1401788, "job": "Special Effects Coordinator", "name": "Steve Ingram"}, {"credit_id": "54959905c3a3686ae3004324", "department": "Visual Effects", "gender": 0, "id": 1401789, "job": "Visual Effects Producer", "name": "Joyce Cox"}, {"credit_id": "5495994b92514132ed002951", "department": "Visual Effects", "gender": 0, "id": 1401790, "job": "Visual Effects Producer", "name": "Jenny Foster"}, {"credit_id": "549599cbc3a3686ae1004613", "department": "Crew", "gender": 0, "id": 1401791, "job": "Visual Effects Editor", "name": "Christopher Marino"}, {"credit_id": "549599f2c3a3686ae100461e", "department": "Crew", "gender": 0, "id": 1401792, "job": "Visual Effects Editor", "name": "Jim Milton"}, {"credit_id": "54959a51c3a3686af3003eb5", "department": "Visual Effects", "gender": 0, "id": 1401793, "job": "Visual Effects Producer", "name": "Cyndi Ochs"}, {"credit_id": "54959a7cc3a36811530026f4", "department": "Crew", "gender": 0, "id": 1401794, "job": "Visual Effects Editor", "name": "Lucas Putnam"}, {"credit_id": "54959b91c3a3680ff5002cb4", "department": "Visual Effects", "gender": 0, "id": 1401795, "job": "Visual Effects Supervisor", "name": "Anthony \'Max\' Ivins"}, {"credit_id": "54959bb69251412c4e002a5f", "department": "Visual Effects", "gender": 0, "id": 1401796, "job": "Visual Effects Supervisor", "name": "John Knoll"}, {"credit_id": "54959cbbc3a3686ae3004391", "department": "Visual Effects", "gender": 2, "id": 1401799, "job": "Visual Effects Supervisor", "name": "Eric Saindon"}, {"credit_id": "54959d06c3a3686ae90043f6", "department": "Visual Effects", "gender": 0, "id": 1401800, "job": "Visual Effects Supervisor", "name": "Wayne Stables"}, {"credit_id": "54959d259251416e1e003f11", "department": "Visual Effects", "gender": 0, "id": 1401801, "job": "Visual Effects Supervisor", "name": "David Stinnett"}, {"credit_id": "54959db49251413af7002975", "department": "Visual Effects", "gender": 0, "id": 1401803, "job": "Visual Effects Supervisor", "name": "Guy Williams"}, {"credit_id": "54959de4c3a3681153002750", "department": "Crew", "gender": 0, "id": 1401804, "job": "Stunt Coordinator", "name": "Stuart Thorp"}, {"credit_id": "54959ef2c3a3680fc60027f2", "department": "Lighting", "gender": 0, "id": 1401805, "job": "Best Boy Electric", "name": "Giles Coburn"}, {"credit_id": "54959f07c3a3680fc60027f9", "department": "Camera", "gender": 2, "id": 1401806, "job": "Still Photographer", "name": "Mark Fellman"}, {"credit_id": "54959f47c3a3681153002774", "department": "Lighting", "gender": 0, "id": 1401807, "job": "Lighting Technician", "name": "Scott Sprague"}, {"credit_id": "54959f8cc3a36831b8001df2", "department": "Visual Effects", "gender": 0, "id": 1401808, "job": "Animation Director", "name": "Jeremy Hollobon"}, {"credit_id": "54959fa0c3a36831b8001dfb", "department": "Visual Effects", "gender": 0, "id": 1401809, "job": "Animation Director", "name": "Orlando Meunier"}, {"credit_id": "54959fb6c3a3686af3003f54", "department": "Visual Effects", "gender": 0, "id": 1401810, "job": "Animation Director", "name": "Taisuke Tanimura"}, {"credit_id": "54959fd2c3a36831b8001e02", "department": "Costume & Make-Up", "gender": 0, "id": 1401812, "job": "Set Costumer", "name": "Lilia Mishel Acevedo"}, {"credit_id": "54959ff9c3a3686ae300440c", "department": "Costume & Make-Up", "gender": 0, "id": 1401814, "job": "Set Costumer", "name": "Alejandro M. Hernandez"}, {"credit_id": "5495a0ddc3a3686ae10046fe", "department": "Editing", "gender": 0, "id": 1401815, "job": "Digital Intermediate", "name": "Marvin Hall"}, {"credit_id": "5495a1f7c3a3686ae3004443", "department": "Production", "gender": 0, "id": 1401816, "job": "Publicist", "name": "Judy Alley"}, {"credit_id": "5592b29fc3a36869d100002f", "department": "Crew", "gender": 0, "id": 1418381, "job": "CG Supervisor", "name": "Mike Perry"}, {"credit_id": "5592b23a9251415df8001081", "department": "Crew", "gender": 0, "id": 1426854, "job": "CG Supervisor", "name": "Andrew Morley"}, {"credit_id": "55491e1192514104c40002d8", "department": "Art", "gender": 0, "id": 1438901, "job": "Conceptual Design", "name": "Seth Engstrom"}, {"credit_id": "5525d5809251417276002b06", "department": "Crew", "gender": 0, "id": 1447362, "job": "Visual Effects Art Director", "name": "Eric Oliver"}, {"credit_id": "554427ca925141586500312a", "department": "Visual Effects", "gender": 0, "id": 1447503, "job": "Modeling", "name": "Matsune Suzuki"}, {"credit_id": "551906889251415aab001c88", "department": "Art", "gender": 0, "id": 1447524, "job": "Art Department Manager", "name": "Paul Tobin"}, {"credit_id": "5592af8492514152cc0010de", "department": 

In [57]:
import ast
def dir(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i["job"]=="Director":
            L.append(i["name"])
            break
    return L

In [58]:
movies["crew"]=movies["crew"].apply(dir)

In [59]:
movies.crew[0]

['James Cameron']

In [60]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,[Action],[spy],"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],[dc comics],"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],[based on novel],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [61]:
#Now Converting Overview Into List

In [62]:
movies["overview"]=movies["overview"].apply(lambda x:x.split())

In [63]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[Action],[spy],"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Action],[dc comics],"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Action],[based on novel],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [64]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[Action],[spy],"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Action],[dc comics],"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Action],[based on novel],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [65]:
#Now Merging overview,genres,keywords, cast And crew In 1 Single Column Named As Tag

In [66]:
movies["tags"]=movies["overview"]+movies["genres"]+movies["keywords"]+movies["cast"]+movies["crew"]

In [67]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...",[Action],[culture clash],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...",[Adventure],[ocean],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...",[Action],[spy],"[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...",[Action],[dc comics],"[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...",[Action],[based on novel],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [68]:
movies["tags"]

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805                                                  NaN
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807                                                  NaN
4808    [Ever, since, the, second, grade, when, he, fi...
Name: tags, Length: 4806, dtype: object

In [69]:
mrs=movies[["movie_id","title","tags"]]

In [70]:
mrs

,movie_id,title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4804,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4805,72766,Newlyweds,NaN
4806,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4807,126186,Shanghai Calling,NaN
4808,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [76]:
mrs["tags"]=mrs["tags"].fillna("No_Movies")

C:\Users\ACER\AppData\Local\Temp\ipykernel_14852\559777636.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mrs["tags"]=mrs["tags"].fillna("No_Movies")

In [77]:
mrs["tags"] = mrs["tags"].apply(lambda x: " ".join(x))

C:\Users\ACER\AppData\Local\Temp\ipykernel_14852\1121504557.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mrs["tags"] = mrs["tags"].apply(lambda x: " ".join(x))

In [93]:
mrs["tags"] = mrs["tags"].apply(lambda x:x.lower())

C:\Users\ACER\AppData\Local\Temp\ipykernel_14852\3332086352.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mrs["tags"] = mrs["tags"].apply(lambda x:x.lower())

In [95]:
mrs

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,n o _ m o v i e s
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,n o _ m o v i e s
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [99]:
mrs.head()

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [101]:
#Skilearn is a module pack of CountVectorizer Package
from sklearn.feature_extraction.text import CountVectorizer

cv=CountVectorizer(max_features=5000, stop_words="english")
vect=cv.fit_transform(mrs["tags"]).toarray()
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zooey', 'zucker', 'zwick'], dtype=object)

In [102]:
#nltk natural language toolkit
#stem used to Give Only 1 Meaning Word And Removes Remaining Synonyms
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
ps.stem("Loving")

'love'

In [103]:
mrs

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just wants to play his guitar and ...
4805,72766,Newlyweds,n o _ m o v i e s
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduces a dedic..."
4807,126186,Shanghai Calling,n o _ m o v i e s
4808,25975,My Date with Drew,ever since the second grade when he first saw ...

In [104]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [105]:
mrs["tags"]=mrs["tags"].apply(stem)

C:\Users\ACER\AppData\Local\Temp\ipykernel_14852\2168599654.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mrs["tags"]=mrs["tags"].apply(stem)

In [106]:
mrs

,movie_id,title,tags
0,19995,Avatar,"in the 22nd century, a parapleg marin is dispa..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believ to be dead, ha c..."
2,206647,Spectre,a cryptic messag from bond’ past send him on a...
3,49026,The Dark Knight Rises,follow the death of district attorney harvey d...
4,49529,John Carter,"john carter is a war-weary, former militari ca..."
...,...,...,...
4804,9367,El Mariachi,el mariachi just want to play hi guitar and ca...
4805,72766,Newlyweds,n o _ m o v i e s
4806,231617,"Signed, Sealed, Delivered","""signed, sealed, delivered"" introduc a dedic q..."
4807,126186,Shanghai Calling,n o _ m o v i e s
4808,25975,My Date with Drew,ever sinc the second grade when he first saw h...

In [107]:
#Finding The Angles Between 2 movies for that-:

In [108]:
from sklearn.metrics.pairwise import cosine_similarity
similar=cosine_similarity(vect)

In [109]:
similar

array([[1.        , 0.        , 0.07744031, ..., 0.        , 0.        ,
        0.        ],
       [0.        , 1.        , 0.        , ..., 0.03329636, 0.        ,
        0.        ],
       [0.07744031, 0.        , 1.        , ..., 0.02900074, 0.        ,
        0.        ],
       ...,
       [0.        , 0.03329636, 0.02900074, ..., 1.        , 0.        ,
        0.039992  ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.039992  , 0.        ,
        1.        ]])

In [110]:
sorted([similar],reverse=True)

[array([[1.        , 0.        , 0.07744031, ..., 0.        , 0.        ,
         0.        ],
        [0.        , 1.        , 0.        , ..., 0.03329636, 0.        ,
         0.        ],
        [0.07744031, 0.        , 1.        , ..., 0.02900074, 0.        ,
         0.        ],
        ...,
        [0.        , 0.03329636, 0.02900074, ..., 1.        , 0.        ,
         0.039992  ],
        [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
         0.        ],
        [0.        , 0.        , 0.        , ..., 0.039992  , 0.        ,
         1.        ]])]

In [111]:
list(enumerate(similar[0]))

[(0, 1.0),
 (1, 0.0),
 (2, 0.07744030926623663),
 (3, 0.056750435383916574),
 (4, 0.03427955850955305),
 (5, 0.10016708449412667),
 (6, 0.027379283909669674),
 (7, 0.10016708449412667),
 (8, 0.0),
 (9, 0.033389028164708894),
 (10, 0.0),
 (11, 0.0685591170191061),
 (12, 0.0),
 (13, 0.03143473067309657),
 (14, 0.036860489038724284),
 (15, 0.0),
 (16, 0.0),
 (17, 0.0),
 (18, 0.02360960823249428),
 (19, 0.03108349360801046),
 (20, 0.023312620206007845),
 (21, 0.03427955850955305),
 (22, 0.0),
 (23, 0.0),
 (24, 0.0),
 (25, 0.049844478627922684),
 (26, 0.038720154633118314),
 (27, 0.05957554687344993),
 (28, 0.049147318718299055),
 (29, 0.0893633203101749),
 (30, 0.09430419201928972),
 (31, 0.08695652173913045),
 (32, 0.0),
 (33, 0.0),
 (34, 0.0),
 (35, 0.049147318718299055),
 (36, 0.07049073768502413),
 (37, 0.0761386987626881),
 (38, 0.025666350116967267),
 (39, 0.07151985398521515),
 (40, 0.0),
 (41, 0.0),
 (42, 0.0),
 (43, 0.13900960937138318),
 (44, 0.10114434748483472),
 (45, 0.08674723979493604),
 (46, 0.08178608201095308),
 (47, 0.11350087076783315),
 (48, 0.02714626448989516),
 (49, 0.0),
 (50, 0.0),
 (51, 0.025863030005593587),
 (52, 0.11420804814403215),
 (53, 0.0),
 (54, 0.0),
 (55, 0.0),
 (56, 0.04550157551932901),
 (57, 0.0),
 (58, 0.05728331501262048),
 (59, 0.049844478627922684),
 (60, 0.0),
 (61, 0.0),
 (62, 0.049147318718299055),
 (63, 0.0),
 (64, 0.042562826537937436),
 (65, 0.0),
 (66, 0.0),
 (67, 0.07259540086406278),
 (68, 0.08512565307587487),
 (69, 0.0),
 (70, 0.07049073768502413),
 (71, 0.0),
 (72, 0.03940552031195503),
 (73, 0.0),
 (74, 0.09890707100936805),
 (75, 0.0),
 (76, 0.0),
 (77, 0.0),
 (78, 0.0),
 (79, 0.03382550457458692),
 (80, 0.0),
 (81, 0.0),
 (82, 0.0),
 (83, 0.0),
 (84, 0.0),
 (85, 0.02210248368512676),
 (86, 0.035245368842512066),
 (87, 0.037450294313656915),
 (88, 0.0),
 (89, 0.019360077316559157),
 (90, 0.0),
 (91, 0.07372097807744857),
 (92, 0.0),
 (93, 0.03296902366978935),
 (94, 0.1739130434782609),
 (95, 0.0),
 (96, 0.03940552031195503),
 (97, 0.03427955850955305),
 (98, 0.0),
 (99, 0.037450294313656915),
 (100, 0.0),
 (101, 0.07490058862731383),
 (102, 0.05339506999380768),
 (103, 0.0),
 (104, 0.0),
 (105, 0.044455422447438706),
 (106, 0.03382550457458692),
 (107, 0.05957554687344993),
 (108, 0.0),
 (109, 0.0),
 (110, 0.0),
 (111, 0.07744030926623663),
 (112, 0.0),
 (113, 0.0),
 (114, 0.0),
 (115, 0.0),
 (116, 0.0),
 (117, 0.0),
 (118, 0.0),
 (119, 0.037450294313656915),
 (120, 0.0),
 (121, 0.0),
 (122, 0.0),
 (123, 0.0),
 (124, 0.0),
 (125, 0.0),
 (126, 0.034752402342845795),
 (127, 0.10266540046786907),
 (128, 0.0),
 (129, 0.0),
 (130, 0.0),
 (131, 0.06950480468569159),
 (132, 0.06512896090258362),
 (133, 0.0),
 (134, 0.09100315103865803),
 (135, 0.0),
 (136, 0.0),
 (137, 0.02095648711539772),
 (138, 0.04550157551932901),
 (139, 0.07049073768502413),
 (140, 0.08846517369293828),
 (141, 0.0),
 (142, 0.0),
 (143, 0.029787773436724965),
 (144, 0.04170288281141496),
 (145, 0.027618408833305377),
 (146, 0.0),
 (147, 0.0),
 (148, 0.08340576562282992),
 (149, 0.09539445011233401),
 (150, 0.13809204416652687),
 (151, 0.11566298639324805),
 (152, 0.044455422447438706),
 (153, 0.053838190205816545),
 (154, 0.0),
 (155, 0.0),
 (156, 0.0),
 (157, 0.0),
 (158, 0.03427955850955305),
 (159, 0.04550157551932901),
 (160, 0.0),
 (161, 0.0),
 (162, 0.03806934938134405),
 (163, 0.035245368842512066),
 (164, 0.07490058862731383),
 (165, 0.044455422447438706),
 (166, 0.0),
 (167, 0.04347826086956522),
 (168, 0.0),
 (169, 0.030414953233623677),
 (170, 0.03108349360801046),
 (171, 0.034752402342845795),
 (172, 0.0),
 (173, 0.0),
 (174, 0.03629770043203139),
 (175, 0.0),
 (176, 0.0),
 (177, 0.0),
 (178, 0.0),
 (179, 0.0),
 (180, 0.03427955850955305),
 (181, 0.0),
 (182, 0.0),
 (183, 0.0),
 (184, 0.035245368842512066),
 (185, 0.0),
 (186, 0.0),
 (187, 0.036860489038724284),
 (188, 0.03217447260438935),
 (189, 0.0),
 (190, 0.0),
 (191, 0.0),
 (192, 0.0),
 (193, 0.0),
 (194, 0.0),
 (195, 0.0),
 (196, 0.0),
 (197, 0.0),
 (198, 0.0),
 (199, 0.07151985398521515),
 (200, 0.0),
 (201, 0.0),
 (202, 0.0),
 (203, 0.0),
 (204, 0.03629770043203139),
 (205, 0.0),
 (206, 0.09028938981432692),
 (207, 0.04089304100547654),
 (208, 0.0),
 (209, 0.044455422447438706),
 (210, 0.03382550457458692),
 (211, 0.0),
 (212, 0.03427955850955305),
 (213, 0.03427955850955305),
 (214, 0.0),
 (215, 0.0),
 (216, 0.0),
 (217, 0.0),
 (218, 0.049147318718299055),
 (219, 0.08512565307587487),
 (220, 0.0),
 (221, 0.0),
 (222, 0.025474090105633385),
 (223, 0.03382550457458692),
 (224, 0.027618408833305377),
 (225, 0.03427955850955305),
 (226, 0.035245368842512066),
 (227, 0.12267912301642962),
 (228, 0.06359630007488934),
 (229, 0.0),
 (230, 0.026919095102908273),
 (231, 0.06359630007488934),
 (232, 0.08512565307587487),
 (233, 0.0),
 (234, 0.0),
 (235, 0.0),
 (236, 0.044455422447438706),
 (237, 0.042562826537937436),
 (238, 0.0),
 (239, 0.05296271413323761),
 (240, 0.03629770043203139),
 (241, 0.0),
 (242, 0.04089304100547654),
 (243, 0.03296902366978935),
 (244, 0.04089304100547654),
 (245, 0.0),
 (246, 0.0),
 (247, 0.0),
 (248, 0.0659380473395787),
 (249, 0.047836487323493986),
 (250, 0.0),
 (251, 0.0),
 (252, 0.025863030005593587),
 (253, 0.05212860351426869),
 (254, 0.03806934938134405),
 (255, 0.0),
 (256, 0.05572782125753529),
 (257, 0.03575992699260758),
 (258, 0.0),
 (259, 0.03296902366978935),
 (260, 0.0),
 (261, 0.040128617695256406),
 (262, 0.0),
 (263, 0.04550157551932901),
 (264, 0.0),
 (265, 0.0),
 (266, 0.04170288281141496),
 (267, 0.0),
 (268, 0.0),
 (269, 0.0),
 (270, 0.037450294313656915),
 (271, 0.03629770043203139),
 (272, 0.0),
 (273, 0.030096463271442307),
 (274, 0.021506619680967013),
 (275, 0.08891084489487741),
 (276, 0.0),
 (277, 0.029787773436724965),
 (278, 0.0),
 (279, 0.09539445011233401),
 (280, 0.0),
 (281, 0.06765100914917384),
 (282, 0.10889310129609417),
 (283, 0.0),
 (284, 0.0),
 (285, 0.027863910628767644),
 (286, 0.06148754619013457),
 (287, 0.0),
 (288, 0.0),
 (289, 0.0),
 (290, 0.04347826086956522),
 (291, 0.0),
 (292, 0.0),
 (293, 0.0),
 (294, 0.0),
 (295, 0.03256448045129181),
 (296, 0.03143473067309657),
 (297, 0.0),
 (298, 0.0),
 (299, 0.028116077855776665),
 (300, 0.038720154633118314),
 (301, 0.05212860351426869),
 (302, 0.0),
 (303, 0.03575992699260758),
 (304, 0.022227711223719353),
 (305, 0.0),
 (306, 0.03806934938134405),
 (307, 0.08648775001288211),
 (308, 0.044455422447438706),
 (309, 0.0),
 (310, 0.0),
 (311, 0.13355611265883557),
 (312, 0.06216698721602092),
 (313, 0.04550157551932901),
 (314, 0.0),
 (315, 0.0),
 (316, 0.03179815003744467),
 (317, 0.0),
 (318, 0.0),
 (319, 0.04347826086956522),
 (320, 0.040128617695256406),
 (321, 0.0),
 (322, 0.0),
 (323, 0.0),
 (324, 0.0),
 (325, 0.0),
 (326, 0.03940552031195503),
 (327, 0.0),
 (328, 0.0),
 (329, 0.04089304100547654),
 (330, 0.04550157551932901),
 (331, 0.0),
 (332, 0.0),
 (333, 0.0),
 (334, 0.03427955850955305),
 (335, 0.038720154633118314),
 (336, 0.0),
 (337, 0.030414953233623677),
 (338, 0.0),
 (339, 0.040128617695256406),
 (340, 0.034752402342845795),
 (341, 0.0),
 (342, 0.04949221641439498),
 (343, 0.029197858123689188),
 (344, 0.033389028164708894),
 (345, 0.02864165750631024),
 (346, 0.0),
 (347, 0.03427955850955305),
 (348, 0.0),
 (349, 0.0),
 (350, 0.06677805632941779),
 (351, 0.0),
 (352, 0.0),
 (353, 0.027618408833305377),
 (354, 0.0),
 (355, 0.05623215571155333),
 (356, 0.03940552031195503),
 (357, 0.0),
 (358, 0.0),
 (359, 0.0),
 (360, 0.0),
 (361, 0.0),
 (362, 0.034752402342845795),
 (363, 0.030096463271442307),
 (364, 0.0),
 (365, 0.0643489452087787),
 (366, 0.03382550457458692),
 (367, 0.0),
 (368, 0.0),
 (369, 0.03806934938134405),
 (370, 0.04170288281141496),
 (371, 0.0),
 (372, 0.06765100914917384),
 (373, 0.044455422447438706),
 (374, 0.0),
 (375, 0.028116077855776665),
 (376, 0.0),
 (377, 0.0),
 (378, 0.0),
 (379, 0.02162193750322053),
 (380, 0.0),
 (381, 0.0),
 (382, 0.0),
 (383, 0.034752402342845795),
 (384, 0.0),
 (385, 0.0),
 (386, 0.03427955850955305),
 (387, 0.03806934938134405),
 (388, 0.0),
 (389, 0.0),
 (390, 0.0),
 (391, 0.028375217691958287),
 (392, 0.037450294313656915),
 (393, 0.0),
 (394, 0.035245368842512066),
 (395, 0.06216698721602092),
 (396, 0.03629770043203139),
 (397, 0.0),
 (398, 0.0),
 (399, 0.0),
 (400, 0.04089304100547654),
 (401, 0.0),
 (402, 0.0),
 (403, 0.028915746598312014),
 (404, 0.04170288281141496),
 (405, 0.040128617695256406),
 (406, 0.05728331501262048),
 (407, 0.0),
 (408, 0.04662524041201569),
 (409, 0.0),
 (410, 0.0),
 (411, 0.03427955850955305),
 (412, 0.06148754619013457),
 (413, 0.030743773095067286),
 (414, 0.0),
 (415, 0.025863030005593587),
 (416, 0.0),
 (417, 0.04550157551932901),
 (418, 0.044455422447438706),
 (419, 0.0),
 (420, 0.03217447260438935),
 (421, 0.0),
 (422, 0.04662524041201569),
 (423, 0.0),
 (424, 0.0),
 (425, 0.0),
 (426, 0.0),
 (427, 0.0),
 (428, 0.026064301757134346),
 (429, 0.0),
 (430, 0.03108349360801046),
 (431, 0.0),
 (432, 0.06677805632941779),
 (433, 0.042562826537937436),
 (434, 0.0),
 (435, 0.0),
 (436, 0.0),
 (437, 0.037450294313656915),
 (438, 0.0),
 (439, 0.0),
 (440, 0.0),
 (441, 0.0),
 (442, 0.034752402342845795),
 (443, 0.0),
 (444, 0.029197858123689188),
 (445, 0.0),
 (446, 0.07372097807744857),
 (447, 0.0),
 (448, 0.0),
 (449, 0.03940552031195503),
 (450, 0.0),
 (451, 0.0),
 (452, 0.0),
 (453, 0.036860489038724284),
 (454, 0.03575992699260758),
 (455, 0.04550157551932901),
 (456, 0.027863910628767644),
 (457, 0.034752402342845795),
 (458, 0.0),
 (459, 0.04662524041201569),
 (460, 0.03382550457458692),
 (461, 0.04347826086956522),
 (462, 0.0),
 (463, 0.0),
 (464, 0.0),
 (465, 0.049147318718299055),
 (466, 0.040128617695256406),
 (467, 0.05783149319662403),
 (468, 0.038720154633118314),
 (469, 0.027618408833305377),
 (470, 0.0),
 (471, 0.03217447260438935),
 (472, 0.0),
 (473, 0.03427955850955305),
 (474, 0.0),
 (475, 0.060829906467247355),
 (476, 0.042562826537937436),
 (477, 0.0),
 (478, 0.03382550457458692),
 (479, 0.0),
 (480, 0.03296902366978935),
 (481, 0.0),
 (482, 0.0),
 (483, 0.08178608201095308),
 (484, 0.0),
 (485, 0.037450294313656915),
 (486, 0.0),
 (487, 0.04550157551932901),
 (488, 0.023459704442429407),
 (489, 0.0),
 (490, 0.0),
 (491, 0.03179815003744467),
 (492, 0.0),
 (493, 0.0),
 (494, 0.04662524041201569),
 (495, 0.08695652173913045),
 (496, 0.05429252897979032),
 (497, 0.0),
 (498, 0.0),
 (499, 0.0),
 (500, 0.034752402342845795),
 (501, 0.0),
 (502, 0.03217447260438935),
 (503, 0.03940552031195503),
 (504, 0.0),
 (505, 0.0),
 (506, 0.0),
 (507, 0.09539445011233401),
 (508, 0.036860489038724284),
 (509, 0.0),
 (510, 0.0),
 (511, 0.0),
 (512, 0.07744030926623663),
 (513, 0.0643489452087787),
 (514, 0.0),
 (515, 0.0),
 (516, 0.0),
 (517, 0.05728331501262048),
 (518, 0.03256448045129181),
 (519, 0.0),
 (520, 0.0),
 (521, 0.0),
 (522, 0.0),
 (523, 0.03217447260438935),
 (524, 0.0),
 (525, 0.0),
 (526, 0.04550157551932901),
 (527, 0.0),
 (528, 0.0),
 (529, 0.15717365336548286),
 (530, 0.04170288281141496),
 (531, 0.0),
 (532, 0.06765100914917384),
 (533, 0.0),
 (534, 0.049147318718299055),
 (535, 0.07259540086406278),
 (536, 0.0),
 (537, 0.0),
 (538, 0.0),
 (539, 0.04347826086956522),
 (540, 0.030414953233623677),
 (541, 0.053838190205816545),
 (542, 0.026919095102908273),
 (543, 0.0),
 (544, 0.04170288281141496),
 (545, 0.0),
 (546, 0.0),
 (547, 0.05057217374241736),
 (548, 0.0),
 (549, 0.03108349360801046),
 (550, 0.0),
 (551, 0.0),
 (552, 0.0),
 (553, 0.0),
 (554, 0.0),
 (555, 0.0),
 (556, 0.035245368842512066),
 (557, 0.10283867552865913),
 (558, 0.0),
 (559, 0.0),
 (560, 0.023312620206007845),
 (561, 0.0),
 (562, 0.0),
 (563, 0.0),
 (564, 0.0),
 (565, 0.03143473067309657),
 (566, 0.0),
 (567, 0.0),
 (568, 0.12038585308576921),
 (569, 0.0),
 (570, 0.10425720702853739),
 (571, 0.0),
 (572, 0.0),
 (573, 0.03179815003744467),
 (574, 0.030414953233623677),
 (575, 0.06359630007488934),
 (576, 0.0),
 (577, 0.0),
 (578, 0.0),
 (579, 0.04662524041201569),
 (580, 0.027863910628767644),
 (581, 0.03806934938134405),
 (582, 0.07259540086406278),
 (583, 0.0),
 (584, 0.05783149319662403),
 (585, 0.0),
 (586, 0.027618408833305377),
 (587, 0.0685591170191061),
 (588, 0.03427955850955305),
 (589, 0.0),
 (590, 0.0),
 (591, 0.0),
 (592, 0.0),
 (593, 0.029197858123689188),
 (594, 0.047836487323493986),
 (595, 0.03256448045129181),
 (596, 0.09028938981432692),
 (597, 0.0),
 (598, 0.0),
 (599, 0.022484687520664393),
 (600, 0.029197858123689188),
 (601, 0.021281413268968718),
 (602, 0.03143473067309657),
 (603, 0.06286946134619315),
 (604, 0.0),
 (605, 0.0),
 (606, 0.0),
 (607, 0.0),
 (608, 0.0),
 (609, 0.03143473067309657),
 (610, 0.05212860351426869),
 (611, 0.030096463271442307),
 (612, 0.0),
 (613, 0.04550157551932901),
 (614, 0.04347826086956522),
 (615, 0.036860489038724284),
 (616, 0.0),
 (617, 0.042562826537937436),
 (618, 0.0),
 (619, 0.0),
 (620, 0.0),
 (621, 0.03940552031195503),
 (622, 0.027618408833305377),
 (623, 0.0),
 (624, 0.04550157551932901),
 (625, 0.0),
 (626, 0.044455422447438706),
 (627, 0.044455422447438706),
 (628, 0.0),
 (629, 0.02948839123097943),
 (630, 0.0),
 (631, 0.0),
 (632, 0.03296902366978935),
 (633, 0.028915746598312014),
 (634, 0.08178608201095308),
 (635, 0.07259540086406278),
 (636, 0.0),
 (637, 0.03806934938134405),
 (638, 0.0),
 (639, 0.0),
 (640, 0.03256448045129181),
 (641, 0.0),
 (642, 0.0),
 (643, 0.03108349360801046),
 (644, 0.038720154633118314),
 (645, 0.03629770043203139),
 (646, 0.03575992699260758),
 (647, 0.0),
 (648, 0.0),
 (649, 0.0),
 (650, 0.0),
 (651, 0.0),
 (652, 0.0),
 (653, 0.053838190205816545),
 (654, 0.0),
 (655, 0.03296902366978935),
 (656, 0.0),
 (657, 0.024922239313961342),
 (658, 0.03427955850955305),
 (659, 0.0),
 (660, 0.04550157551932901),
 (661, 0.0),
 (662, 0.0),
 (663, 0.0),
 (664, 0.036860489038724284),
 (665, 0.03382550457458692),
 (666, 0.0),
 (667, 0.0),
 (668, 0.040128617695256406),
 (669, 0.0),
 (670, 0.0),
 (671, 0.0),
 (672, 0.04170288281141496),
 (673, 0.0),
 (674, 0.0),
 (675, 0.03217447260438935),
 (676, 0.0),
 (677, 0.04662524041201569),
 (678, 0.0),
 (679, 0.0),
 (680, 0.03629770043203139),
 (681, 0.0),
 (682, 0.0),
 (683, 0.03382550457458692),
 (684, 0.0),
 (685, 0.049147318718299055),
 (686, 0.04347826086956522),
 (687, 0.036860489038724284),
 (688, 0.0),
 (689, 0.0),
 (690, 0.0),
 (691, 0.04089304100547654),
 (692, 0.034752402342845795),
 (693, 0.0),
 (694, 0.03296902366978935),
 (695, 0.049147318718299055),
 (696, 0.03108349360801046),
 (697, 0.0),
 (698, 0.0),
 (699, 0.0),
 (700, 0.042562826537937436),
 (701, 0.0),
 (702, 0.03806934938134405),
 (703, 0.0),
 (704, 0.0),
 (705, 0.0),
 (706, 0.0),
 (707, 0.0),
 (708, 0.036860489038724284),
 (709, 0.026270346874636686),
 (710, 0.0),
 (711, 0.042562826537937436),
 (712, 0.030743773095067286),
 (713, 0.02948839123097943),
 (714, 0.0),
 (715, 0.040128617695256406),
 (716, 0.0),
 (717, 0.0),
 (718, 0.030743773095067286),
 (719, 0.0),
 (720, 0.0),
 (721, 0.0),
 (722, 0.0),
 (723, 0.0),
 (724, 0.07151985398521515),
 (725, 0.0),
 (726, 0.0),
 (727, 0.04721921646498856),
 (728, 0.0),
 (729, 0.0),
 (730, 0.021506619680967013),
 (731, 0.034752402342845795),
 (732, 0.033389028164708894),
 (733, 0.0),
 (734, 0.0),
 (735, 0.0),
 (736, 0.044455422447438706),
 (737, 0.042562826537937436),
 (738, 0.0),
 (739, 0.044455422447438706),
 (740, 0.0685591170191061),
 (741, 0.0761386987626881),
 (742, 0.0),
 (743, 0.0),
 (744, 0.0),
 (745, 0.07490058862731383),
 (746, 0.0),
 (747, 0.0),
 (748, 0.0),
 (749, 0.0),
 (750, 0.034752402342845795),
 (751, 0.0),
 (752, 0.03427955850955305),
 (753, 0.03629770043203139),
 (754, 0.0),
 (755, 0.0),
 (756, 0.0),
 (757, 0.0),
 (758, 0.03108349360801046),
 (759, 0.0),
 (760, 0.0),
 (761, 0.038720154633118314),
 (762, 0.047836487323493986),
 (763, 0.0),
 (764, 0.0),
 (765, 0.03575992699260758),
 (766, 0.0),
 (767, 0.03108349360801046),
 (768, 0.028915746598312014),
 (769, 0.0),
 (770, 0.07151985398521515),
 (771, 0.0),
 (772, 0.0),
 (773, 0.08695652173913045),
 (774, 0.11145564251507058),
 (775, 0.06765100914917384),
 (776, 0.0),
 (777, 0.02948839123097943),
 (778, 0.0),
 (779, 0.0),
 (780, 0.0),
 (781, 0.0),
 (782, 0.0643489452087787),
 (783, 0.0),
 (784, 0.0),
 (785, 0.024404766228169006),
 (786, 0.029197858123689188),
 (787, 0.11235088294097074),
 (788, 0.034752402342845795),
 (789, 0.0),
 (790, 0.02864165750631024),
 (791, 0.0),
 (792, 0.0),
 (793, 0.0),
 (794, 0.08891084489487741),
 (795, 0.0),
 (796, 0.0),
 (797, 0.0),
 (798, 0.0),
 (799, 0.025474090105633385),
 (800, 0.0),
 (801, 0.0),
 (802, 0.0),
 (803, 0.0),
 (804, 0.06019292654288461),
 (805, 0.04089304100547654),
 (806, 0.0),
 (807, 0.03629770043203139),
 (808, 0.0),
 (809, 0.0),
 (810, 0.04347826086956522),
 (811, 0.0),
 (812, 0.060829906467247355),
 (813, 0.03575992699260758),
 (814, 0.030096463271442307),
 (815, 0.029197858123689188),
 (816, 0.029787773436724965),
 (817, 0.0),
 (818, 0.04662524041201569),
 (819, 0.0),
 (820, 0.024077170617153837),
 (821, 0.0),
 (822, 0.0),
 (823, 0.09325048082403138),
 (824, 0.0),
 (825, 0.0),
 (826, 0.0),
 (827, 0.0),
 (828, 0.04089304100547654),
 (829, 0.0),
 (830, 0.037450294313656915),
 (831, 0.03108349360801046),
 (832, 0.0),
 (833, 0.0),
 (834, 0.03575992699260758),
 (835, 0.03143473067309657),
 (836, 0.030096463271442307),
 (837, 0.0),
 (838, 0.08213785172900902),
 (839, 0.0),
 (840, 0.042562826537937436),
 (841, 0.0),
 (842, 0.0),
 (843, 0.0),
 (844, 0.0),
 (845, 0.0),
 (846, 0.0),
 (847, 0.07710865759549869),
 (848, 0.0),
 (849, 0.0),
 (850, 0.05057217374241736),
 (851, 0.0),
 (852, 0.0),
 (853, 0.0),
 (854, 0.07744030926623663),
 (855, 0.0),
 (856, 0.11456663002524096),
 (857, 0.0),
 (858, 0.05057217374241736),
 (859, 0.035245368842512066),
 (860, 0.0),
 (861, 0.0),
 (862, 0.08340576562282992),
 (863, 0.04347826086956522),
 (864, 0.0),
 (865, 0.0),
 (866, 0.0),
 (867, 0.0),
 (868, 0.03217447260438935),
 (869, 0.0),
 (870, 0.03179815003744467),
 (871, 0.03806934938134405),
 (872, 0.0),
 (873, 0.03108349360801046),
 (874, 0.0),
 (875, 0.038720154633118314),
 (876, 0.0),
 (877, 0.0),
 (878, 0.0),
 (879, 0.0),
 (880, 0.0),
 (881, 0.0),
 (882, 0.0),
 (883, 0.03575992699260758),
 (884, 0.0),
 (885, 0.0),
 (886, 0.0),
 (887, 0.0),
 (888, 0.030743773095067286),
 (889, 0.04752484565217575),
 (890, 0.0),
 (891, 0.0),
 (892, 0.0),
 (893, 0.1104736353332215),
 (894, 0.07259540086406278),
 (895, 0.0),
 (896, 0.11795356492391772),
 (897, 0.0),
 (898, 0.034752402342845795),
 (899, 0.08340576562282992),
 (900, 0.0),
 (901, 0.03427955850955305),
 (902, 0.033389028164708894),
 (903, 0.0),
 (904, 0.03217447260438935),
 (905, 0.0),
 (906, 0.0),
 (907, 0.0),
 (908, 0.0),
 (909, 0.0),
 (910, 0.0),
 (911, 0.0),
 (912, 0.0),
 (913, 0.0),
 (914, 0.047836487323493986),
 (915, 0.0),
 (916, 0.0),
 (917, 0.042562826537937436),
 (918, 0.0),
 (919, 0.0),
 (920, 0.04170288281141496),
 (921, 0.02864165750631024),
 (922, 0.047836487323493986),
 (923, 0.0),
 (924, 0.0),
 (925, 0.026064301757134346),
 (926, 0.0),
 (927, 0.0),
 (928, 0.0),
 (929, 0.07259540086406278),
 (930, 0.03382550457458692),
 (931, 0.0),
 (932, 0.07372097807744857),
 (933, 0.027863910628767644),
 (934, 0.0),
 (935, 0.0),
 (936, 0.0),
 (937, 0.0),
 (938, 0.0),
 (939, 0.05254069374927337),
 (940, 0.0),
 (941, 0.09325048082403138),
 (942, 0.16681153124565984),
 (943, 0.0),
 (944, 0.0),
 (945, 0.05212860351426869),
 (946, 0.029197858123689188),
 (947, 0.0),
 (948, 0.0),
 (949, 0.0),
 (950, 0.03179815003744467),
 (951, 0.08512565307587487),
 (952, 0.040128617695256406),
 (953, 0.0),
 (954, 0.0),
 (955, 0.03806934938134405),
 (956, 0.0),
 (957, 0.0),
 (958, 0.0),
 (959, 0.03217447260438935),
 (960, 0.036860489038724284),
 (961, 0.0),
 (962, 0.0),
 (963, 0.07151985398521515),
 (964, 0.04170288281141496),
 (965, 0.0),
 (966, 0.0),
 (967, 0.0),
 (968, 0.0),
 (969, 0.030743773095067286),
 (970, 0.0),
 (971, 0.0),
 (972, 0.11821656093586509),
 (973, 0.11420804814403215),
 (974, 0.042562826537937436),
 (975, 0.0),
 (976, 0.0),

In [112]:
def recommend(movie):
    movie_index=mrs[mrs["title"]==movie].index[0]
    distance=similar[movie_index]
    movie_list=sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(mrs.iloc[i[0]].title)

In [113]:
sorted(list(enumerate(similar[0])),reverse=True,key=lambda x:x[1])[1:6]

[(2405, 0.2029530274475215),
 (3606, 0.2004916025441717),
 (1673, 0.17518714874213512),
 (94, 0.1739130434782609),
 (942, 0.16681153124565984)]

In [114]:
recommend("Iron Man")

Iron Man 2
Avengers: Age of Ultron
Iron Man 3
The Devil's Tomb
Kiss Kiss Bang Bang

In [115]:
import pickle
pickle.dump(mrs.to_dict(),open("movie_dic.pkl","wb"))

In [117]:
pickle.dump(similar,open("similar.pkl","wb"))